---
layout: baseof.njk
title: Contact Us
permalink: /contact/
---
{% import "macros/macros.njk" as m %}
<div class="">
  <section class="flex flex-wrap items-stretch">
    <div class="relative w-full min-h-[50vh] lg:min-h-full lg:w-1/2">
      <div class="overflow-hidden">
        {% if image %}
          {% imager image, title, "absolute top-0 right-0 w-full h-full object-cover object-center", "(min-width: 60em) 100vw, 10vw", "", ""%}
        {% endif %}
      </div>
    </div>
    <article class="w-full lg:w-1/2 pl-4 pr-4 lg:pl-12 lg:pr-4 py-12 bg-gradient-to-r from-beige">
      <header class="mb-6">
        <h1 class="font-play font-bold text-4xl text-purp">{{title}}</h1>
      </header>
      <div 
        class="prose prose-base max-w-lg font-sans prose-strong:text-purp prose-headings:font-sans prose-headings:text-purp prose-headings:font-black prose-headings:mb-2 prose-headings:mt-4 prose-headings:text-lg prose-p:text-purp prose-p:leading-snug prose-p:mb-4 prose-blockquote:border-gold prose-blockquote:text-gold prose-a:underline prose-ul:list-none prose-ul:px-0 prose-li:mb-2 prose-li:mt-0 prose-li:leading-tight prose-ul:text-purp prose-li:px-0">
        {{ content | safe }}
      </div>
      <div class="pt-4">
        <div class="ph0 w-100">
          <form name="contact-rental" method="post" data-netlify="true" data-netlify-recaptcha="true">
            <input type="hidden" name="form-name" value="contact-rental" />
            <fieldset id="sign_up" class="">
              <div class="mb-4">
                <label class="sr-only" for="name">Name</label>
                <input class="max-w-xs md:max-w-lg w-full block placeholder-purp bg-transparent border-b border-purp appearance-none focus:outline-none" placeholder="Your Name" type="text" name="name" id="name">
              </div>
              <div class="mb-4">
                <label class="sr-only" for="email-address">Email</label>
                <input class="max-w-xs md:max-w-lg w-full block placeholder-purp bg-transparent border-b border-purp appearance-none focus:outline-none" placeholder="Email" type="email" name="email-address" id="email-address">
              </div>
              <div class="mb-4">
                <label class="sr-only" for="phone">Phone</label>
                <input class="max-w-xs md:max-w-lg w-full block placeholder-purp bg-transparent border-b border-purp appearance-none focus:outline-none" placeholder="Phone" type="text" name="phone" id="phone">
              </div>
              <div class="mb-4">
                <label for="message" class="block text-purp">Message</label>
                <textarea placeholder="" id="message" name="message" rows="8" class="max-w-xs md:max-w-lg w-full block placeholder-purp bg-transparent border border-purp appearance-none focus:outline-none" aria-describedby="message-desc"></textarea>
              </div>
            </fieldset>
            <div class="mb-4" data-netlify-recaptcha="true"></div>
            <div class="">
              <input class="inline-block bg-peach hover:bg-purp text-white font-sans font-black text-lg uppercase py-2 px-4 rounded-lg cursor-pointer" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </article>
  </section>
</div>
{% if faq %}
<section class="bg-peach text-white py-12">
  {% include "partials/faq.njk" %}
</section>
{% endif %}